/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */
body {
    color: white;
    font-weight: 400;
    font-size: 14px;
    background-color: rgb(26, 26, 26);
}

.page {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 18px;
}

.name {
    font-family: 'Raleway';
    font-weight: 800;
    margin: 0;
    text-shadow: 2px 2px 10px black;
    max-width: 70vw;
}

.recipe {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px white solid;
}


.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url("images/salat.jpg");
    min-height: 200px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.smalls {
    display: flex;
    flex-direction: column;
}

.small {
    min-height: 90px;
}

.two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(images/chlebicek.jpg);
}

.three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(images/tacos.jpg);
}

.four {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(images/cizrna.jpg);
}

.five {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(images/burger.jpg);
    border-bottom: none;
}

@media (min-width: 650px) {
    .page {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .recipe {
        padding: 20px;
    }

    .main {
        flex-basis: 100%;
        min-height: 250px;
    }

    .smalls {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .small {
        flex-basis: 50%;
        min-height: 150px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 22px;
    }

    .three,
    .five {
        border-left: 1px white solid;
    }

    .four {
        border-bottom: none;
    }
}

@media (min-width: 1000px) {
    .page {
        flex-wrap: nowrap;
    }

    .name {
        max-width: 20vw;
    }
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 28px;
    }

    .main {
        min-height: 400px;
        flex-basis: calc(100% / 3);
    }

    .smalls {
        border-left: white 1px solid;
        flex-basis: calc(100% / 3 * 2);
    }

    .small {
        min-height: 200px;
        flex-basis: calc(100% / 2);
    }

    .main,
    .four,
    .five {
        border-bottom: none;
    }
}